.Palette {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}
.Palette-colors {
	height: 90%;
}

.footer-content {
	height: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 1rem;
	font-weight: bold;
	font-style: italic;
}
.palette-emoji {
	margin: 1rem;
	font-size: 1.5rem;
}
